In [3]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

import datetime
import csv,io
import mysql.connector

cnx = mysql.connector.connect(user='root',password='apple', database='infiark')
cursor = cnx.cursor()

# query = ("select * from totala;") #整個TABLE全選
MAEquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='民權東路' and direct='往東' and timezone='上午尖峰')group by YMD,Weekday,rain;""")

MAWquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='民權東路' and direct='往西' and timezone='上午尖峰')group by YMD,Weekday,rain;""")

MPEquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='民權東路' and direct='往東' and timezone='下午尖峰')group by YMD,Weekday,rain;""")

MPWquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='民權東路' and direct='往西' and timezone='下午尖峰')group by YMD,Weekday,rain;""")

TANquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='堤頂大道' and direct='往北' and timezone='上午尖峰')group by YMD,Weekday,rain;""")

TASquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='堤頂大道' and direct='往南' and timezone='上午尖峰')group by YMD,Weekday,rain;""")

TPNquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='堤頂大道' and direct='往北' and timezone='下午尖峰')group by YMD,Weekday,rain;""") 

TPSquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='堤頂大道' and direct='往南' and timezone='下午尖峰')group by YMD,Weekday,rain;""") 

GANquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='舊宗路' and direct='往北' and timezone='上午尖峰')group by YMD,Weekday,rain;""") 

GASquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='舊宗路' and direct='往南' and timezone='上午尖峰')group by YMD,Weekday,rain;""") 

GPNquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='舊宗路' and direct='往北' and timezone='下午尖峰')group by YMD,Weekday,rain;""") 

GPSquery = ("""select YMD, roadname, direct, timezone, sum(carvolume) volume, Weekday, rain 
from totala where(roadname='舊宗路' and direct='往南' and timezone='下午尖峰')group by YMD,Weekday,rain;""") 

query=[MAEquery,MAWquery,MPEquery,MPWquery,TANquery,TASquery,TPNquery,TPSquery,GANquery,GASquery,GPNquery,GPSquery]
# Using the cursor as iterator
count =0
for ele in query:
    count+=1
    cursor.execute(ele)
    with io.open(str(count)+'.csv','w',encoding='utf-8')as RDBque:
    #     整個table全選的話要寫這些欄位
    #     RDBque.write("date,road,roadname,roadvalue,roadblock,diretion,timezone,carValume,weekday,rain"+u'\n')
        RDBque.write("YMD,roadname,diretion,timezone,carValume,weekday,rain"+u'\n')
        for rows in cursor:
            for ele in range(len(rows)):
                if ele == len(rows)-1:
                    RDBque.write(format(rows[ele]).decode('utf-8')+u'\n')
                else:
                    RDBque.write(format(rows[ele]).decode('utf-8')+u',')
cursor.close()
cnx.close()

In [17]:
def RPy():
    import rpy2.robjects as robjects
    from rpy2.robjects.packages import importr

    rstring="""
        function(){
            for(x in 1:12){
                setwd(".")
                neihu<- read.table(paste0(toString(x),".csv"), header = TRUE, sep = ",")
                attach(neihu)
                jpeg(file=paste0("picture/",toString(x),".jpeg"))
                model=lm(carValume~weekday)
                summary(model)
                yf=predict(model)
                plot(carValume,type = "l", col= 4,xaxt="n",main="Result",xlab="blue=actuality red=forecast",ylab="equivalent",sub="105.04.11~105.09.18")
                lines(yf, col= 2)
                detach(neihu)
                dev.off()
            }
        }
    """

    rfunc= robjects.r(rstring)
    rfunc()

In [18]:
RPy()